:root {
    --theme: #280; /* CSS variable */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: "Arial";
    color: var(--theme);
}

#map {
    width: 100%;
}

#marker {
    width: 3vw; /* 3% of the viewport width */
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    outline: 5px solid var(--theme); /* does not affect the size */
    border: 5px solid white; /* affects the size */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#mapContainer {
    position: relative;
    display: none;
}

#camera {
    width: 100%;
}

/* button styling - Assignment requirement  */
#btn {
    background-color: var(--theme);
    color: white;
    padding: 12px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

#btn:hover {
    background-color: #1a5200;
    transform: scale(1.1);
    cursor: pointer;
}